/* * {
  outline: 1px black dotted;
}*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #E9ECF1;
}
nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #E9ECF1;
  }
.logo {
  display: flex;
  flex-direction: row;
  width: 15%;
}
.nav-gauche {
  display: flex;
  flex-direction: row;
  width: 45%;
  align-items: center;
  text-align: center;
}
.nav-droite {
  display: flex;
  flex-direction: row;
  width: 40%;
  align-items: center;
  text-align: center;
}
div a {
  width: 80px;
}

.button-try {
    margin-left: 20px;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;

    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    padding: 5px 10px 5px 10px;
    border: solid #000000 1px;
    text-decoration: none;
    width: 100px;
    height: auto;
  }
.button-sign {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
    background-image: -o-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-top-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;

    font-family: Arial;
    color: #000000;
    font-size: 17px;
    padding: 5px 10px 5px 10px;
    border: solid #000000 1px;
    text-decoration: none;
    width: 80px;
    height: auto;
  }
#help {
  width: 120px;
}
header, h1 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: normal;
  background-color: #E9ECF1;
}
.first {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #414659;
  color: white;
}
.task {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-right: 1px black solid;
}
.team {
  text-align: center;
  padding-top:30px;
  padding-bottom: 30px;
  border-right: 1px black solid;
}
.time {
  text-align: center;
  padding-top:30px;
  padding-bottom: 30px;
  border-right: 1px black solid;
}
.invoicing {
  text-align: center;
  padding-top:30px;
  padding-bottom: 30px;
}
h6 {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.txt1 {
  text-align: center;
}
.try30days {
      background: #3498db;
      background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
      background-image: -moz-linear-gradient(top, #3498db, #2980b9);
      background-image: -ms-linear-gradient(top, #3498db, #2980b9);
      background-image: -o-linear-gradient(top, #3498db, #2980b9);
      background-image: linear-gradient(to bottom, #3498db, #2980b9);
      border-radius: 5%;
      font-family: Arial;
      color: #ffffff;
      font-size: 17px;
      padding: 10px 25px 10px 25px;
      border: solid #000000 1px;
      text-decoration: none;
      width: 180px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
}
.credit {
  text-align: center;

}
.screenshot  {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(image/onepage-images/onepage-images/onepager03-background-printscreen.svg);
  background-repeat: no-repeat;
  background-color: #E9ECF1;
  background-size: contain;
  background-position: center center;
  }
.screen-img img {
  height: 500px;
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cloud{
  text-align: center;
}
h2 {
  font-weight: normal;
  font-size: 35px;
  margin-bottom: 10px;
}
p {
  font-size: 20px;
}
.btn-plans {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  padding: 7px 17px 7px 17px;
  border: solid #000000 1px;
  text-decoration: none;
}
.btn-self {
  background: #3498db;
background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
background-image: -moz-linear-gradient(top, #3498db, #2980b9);
background-image: -ms-linear-gradient(top, #3498db, #2980b9);
background-image: -o-linear-gradient(top, #3498db, #2980b9);
background-image: linear-gradient(to bottom, #3498db, #2980b9);
-webkit-border-radius: 8;
-moz-border-radius: 8;
border-radius: 8px;
font-family: Arial;
color: #ffffff;
font-size: 17px;
padding: 7px 17px 7px 17px;
border: solid #000000 1px;
text-decoration: none;
}
.troisième-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.img-monthly {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-right: 1px grey solid;
  padding-right: 10px;
}
.img-self {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 5px;
  padding-left: 10px;
}
.txt-who {
  text-align: center;
}
h3 {
  font-size: 23px;
  margin-bottom: 5px;
  font-weight: normal;
}
.txt-started {
  text-align: center;
}
h4 {
  font-size: 40px;
  margin-bottom: 5px;
}
form {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  width: 450px;
  height: 350px;
  border: 1px black solid;
  margin: 0 auto;
  padding-top: 25px;
}
form div {
  padding: 10px;
}
label {
  text-align: center;

}
.button-form {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  padding: 7px 15px 7px 15px;
  border: solid #000000 1px;
  text-decoration: none;
}
input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 350px;
}
#password {
  margin-bottom: 30px;
}
.lien {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #414659;
  color: white;

}
.liens ul {
  list-style-type: none;
  margin-bottom: 35px;
  padding: 0px;
  margin: 5px;
}
h5 {
  color: grey;
  font-size: 17px;
  margin-bottom: 12px;
}
li {
  margin-bottom: 5px;
  font-size: 17px;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #414659;
  color: white;
}
 i {
  padding: 10px;
  margin: 10px;
  width: 15px;

}
